* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.image-item {
  height: 100px;
  width: 100px;
}
.tabs-container {
  display: flex;
  flex-direction: coloumn;
  list-style-type: none;
}
